#header ul{
	margin:0;
	padding:0;
}
#header li{
	list-style: none;
}
#header li a{
	text-decoration: none;
}
#content{
	width:70%;
	margin:20px auto;
}
#content h1,#content h2{
	text-align: center;
    padding-bottom: 0.3em;
    /*font-size: 1.75em;*/
    line-height: 1.225;
    border-bottom: 1px solid #eee;
}
#content pre{
	word-wrap: normal;
	padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border-radius: 3px;
}
#content code{
	font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
}
#content code{
	padding: 0;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    margin: 0;
    font-size: 85%;
    background-color: rgba(0,0,0,0.04);
    border-radius: 3px;
}
#content pre>code{
	padding: 0;
    margin: 0;
    font-size: 100%;
    word-break: normal;
    white-space: pre;
    background: transparent;
    border: 0;
}
#content pre code{
	display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0;
}
#content blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd;
}
#content hr {
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
}
#content hr {
    height: 0;
    margin: 15px 0;
    overflow: hidden;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #ddd;
}
#content hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none;
}