/*header*/
@import url(./header.css);
#header{
	background-color: #d41717;
	height:190px;
}
#header h1{
	color:#fff;
	font-size: 35px;
	text-align: center;
	padding-top: 65px;
}
#header h1 span{
	display: block;
	font-size: 16px;
}
#header p{
	text-align: center;
	margin-top: 5px;
}
/*content*/
#content{
	margin:15px 0;
}
#content .contContainer{
	width:90%;
	margin:0 auto;
}
#content .contContainer .contentLeft{
	width:50%;
	float: left;
}
#content .contContainer h3.title{
	font-size: 20px;
	color:#d41717;
	margin-left: 100px;
}
#content .contContainer h3.title:before,
#content .contContainer h3.title:after{
	border:4px double #c2c2c2;
	width:30px;
	display:inline-block;
	content: "";
	margin:0 10px;
}
#content .contContainer .contentLeft h2{
	float: left;
	height: 34px;
	line-height: 34px;
	width:21.5%;
	background-color: #7D0E0E;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-size: 12px;
}
#content .contContainer .contentLeft .wrap{
	float: left;
	width:78.5%;
}
#content .contContainer .contentLeft .ability{
	width:90%;
}
#content .contContainer .contentLeft .ability .component_bar{
	margin-top:20px;
}
#content .contContainer .contentLeft .ability .line{
	position: relative;
	height:34px;
	background-color: #eee;
	z-index: 10;
}
#content .contContainer .contentLeft .rate{
	float: left;
	height:34px;
	position: relative;
}
#content .contContainer .contentLeft .rate .bar{
	height:100%;
	position: absolute;
	left: 0;
	top:0;
	width:0;
}
#content .contContainer .contentLeft .ability .line .per{
	color: ;
	font: italic 14px Arial;
	position: absolute;
	right:5px;
	top:10px;
	opacity:0;

}
#content .contContainer .contentLeft .ability .component_bar_load .line .rate .bar{
	-webkit-transition:all 1s .5s;
	width:100%;
}
#content .contContainer .contentLeft .ability .component_bar_load .line .per{
	-webkit-transition:all 1s 1.5s;
	opacity:1;
}
#content .contContainer .contentLeft .experience{
	margin-top: 30px;
}
#content .contContainer .contentLeft .experience ul li{
	list-style: disc;
	margin-left: 30px;
	font-size: 16px;
	padding:5px;
}
#content .contContainer .contentRight{
	float: left;
    margin-left: 40px;
    width: 40%;
}
#content .contContainer .contentRight ul{
	margin-top: 20px;
}
#content .contContainer .contentRight ul li.classify{
	font-size: 20px;
	font-weight: bold;
	list-style: none;
}
#content .contContainer .contentRight ul li{
	list-style: disc;
	margin: 5px;
}
#content .contContainer .contentRight ul li a:link{
	font-size: 18px;
	color:#794d4d;
	/*color:#1e29bd;*/
}
#content .contContainer .contentRight ul li a:visited{
	color:#1e29bd;
	/*color:#bcbcbc;*/
}
#content .contContainer .contentRight ul li a:hover{
	text-decoration: underline;
}
#content .contContainer .contentRight ul li a:active{
	color:#1e29bd;
	/*color:#ccc;*/
}
#content .contContainer #button{
	width: 40px;
	height:40px;
	position: fixed;
	left: 50%;
	bottom: 43px;
	margin-left: 460px;
	background: url(../images/top_bg.png) no-repeat left top;
	box-shadow: 3px 3px 3px #d41717;
}
#content .contContainer #button:hover{
	background: url(../images/top_bg.png) no-repeat 0 -39px;
}
/*footer*/
#footer{
	width:100%;
	margin-top: 20px;
}
#footer p{
	text-align: center;
	margin:10px 0;
}

.clearfix{
	*zoom:1;
}
.clearfix:after{
	content:".";
	height:0;
	display: block;
	visibility: hidden;
	clear:both;
}