/*header*/
#header{
	width:100%;
	height:190px;
	background-color: #d41717;
}
#header .headNav{
	width:100%;
	height:40px;
	position: fixed;
	top:0;
	left: 0;
	background-color: #BD0000;
	z-index: 99;
}
#header .headNav ul{
	float: right;
	margin-right: 50px;
}
#header .headNav ul a{
	font-size: 15px;
	color:#fff;
	font-weight: bold;
	background-color: #BD0000;
	text-align: center;	
	width:100px;
	display: block;
}
#header .headNav ul a:hover{
	background-color: #ab1515;
}
#header .headNav>ul>li{
	float: left;
	position: relative;
}
#header .headNav>ul>li>a{
	line-height:40px;
}
#header .headNav ul>li ul{
	position: absolute;
	display: none;
}
#header .headNav ul>li:hover ul{
	display: block;
}
#header .headNav ul>li ul li a{
	padding: 5px 0;
	border-top: #e02e2e 1px solid;
}
.hide{
	display: none;
}
#header .headNav #overlay{
	position: absolute;
	top:0;
	left: 0;
	width: 100%;
	z-index:99;
	height:1000px;
	background-color: rgba(0, 0, 0, 0.4);
}
#header .headNav #contactContent{
	position: absolute;
	margin:0 auto;
	z-index:999;
	border-radius: 5px;
	width:600px;
	left:50%;
	top:0;
	margin-top: 100px;
	margin-left: -300px;
	box-shadow: 0 5px 5px #ccc;
	border: 1px solid #d2d2d2;
	background-color: #fff;
	overflow: hidden;
	padding:30px;
}
#header .headNav #contactContent p{
	text-align: left;
	font-size: 15px;
}
#header .headNav #contactContent p span{
	font-weight: bold;
}
#header .headNav #contactContent input[type="button"]{
	padding:5px 15px;
	border:2px solid #d41717;
	border-radius: 5px;
	background-color: #d41717;
	color:#fff;
	font-size: 14px;
	margin-top: 8px;
	float: right;
}
#header .headNav #contactContent input[type="button"]:hover{
	background-color: #ab1515;
}
#header h1{
	color:#fff;
	font-size: 35px;
	text-align: center;
	padding-top: 65px;
}
#header h1 span{
	display: block;
	font-size: 16px;
}
#header p{
	text-align: center;
	margin-top: 5px;
}
/*content*/
#content{
	margin:15px 0;
}
#content .contContainer{
	width:90%;
	margin:0 auto;
}
#content .contContainer .contentLeft{
	width:50%;
	float: left;
}
#content .contContainer h3.title{
	font-size: 20px;
	color:#d41717;
	margin-left: 100px;
}
#content .contContainer h3.title:before,
#content .contContainer h3.title:after{
	border:4px double #c2c2c2;
	width:30px;
	display:inline-block;
	content: "";
	margin:0 10px;
}
#content .contContainer .contentLeft h2{
	float: left;
	height: 34px;
	line-height: 34px;
	width:21.5%;
	background-color: #7D0E0E;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-size: 12px;
}
#content .contContainer .contentLeft .wrap{
	float: left;
	width:78.5%;
}
#content .contContainer .contentLeft .ability{
	width:90%;
}
#content .contContainer .contentLeft .ability .component_bar{
	margin-top:20px;
}
#content .contContainer .contentLeft .ability .line{
	position: relative;
	height:34px;
	background-color: #eee;
	z-index: 10;
}
#content .contContainer .contentLeft .rate{
	float: left;
	height:34px;
	position: relative;
}
#content .contContainer .contentLeft .rate .bar{
	height:100%;
	position: absolute;
	left: 0;
	top:0;
	width:0;
}
#content .contContainer .contentLeft .ability .line .per{
	color: ;
	font: italic 14px Arial;
	position: absolute;
	right:5px;
	top:10px;
	opacity:0;

}
#content .contContainer .contentLeft .ability .component_bar_load .line .rate .bar{
	-webkit-transition:all 1s .5s;
	width:100%;
}
#content .contContainer .contentLeft .ability .component_bar_load .line .per{
	-webkit-transition:all 1s 1.5s;
	opacity:1;
}
#content .contContainer .contentLeft .experience{
	margin-top: 30px;
}
#content .contContainer .contentLeft .experience ul li{
	list-style: disc;
	margin-left: 30px;
	font-size: 16px;
	padding:5px;
}
#content .contContainer .contentRight{
	float: left;
}
#content .contContainer .contentRight ul{
	margin-top: 20px;
}
#content .contContainer .contentRight ul li.classify{
	font-size: 15px;
	font-weight: bold;
	list-style: none;
}
#content .contContainer .contentRight ul li{
	list-style: disc;
}
#content .contContainer .contentRight ul li a:link{
	font-size: 14px;
	color:#794d4d;
}
#content .contContainer .contentRight ul li a:visited{
	color:#1e29bd;
}
#content .contContainer .contentRight ul li a:hover{
	text-decoration: underline;
}
#content .contContainer .contentRight ul li a:active{
	color:#1e29bd;
}
#content .contContainer #button{
	width: 40px;
	height:40px;
	position: fixed;
	left: 50%;
	bottom: 43px;
	margin-left: 460px;
	background: url(../images/top_bg.png) no-repeat left top;
	box-shadow: 3px 3px 3px #d41717;
}
#content .contContainer #button:hover{
	background: url(../images/top_bg.png) no-repeat 0 -39px;
}
/*footer*/
#footer{
	width:100%;
	margin-top: 20px;
}
#footer p{
	text-align: center;
	margin:10px 0;
}

.clearfix{
	*zoom:1;
}
.clearfix:after{
	content:".";
	height:0;
	display: block;
	visibility: hidden;
	clear:both;
}