<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>李梦仪的个人网站</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/reset.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/common.css">
<script type="text/javascript" src="/javascripts/index.js"></script>
<script type="text/javascript" src="/javascripts/boom.js"></script>
</head>
<body>
	<div id="header">
        <div class="headNav">
            <ul>
                <li><a href="/upload">上传文件</a></li>
                <li><a href="/post">发表文章</a></li>
                <li><a href="/index">回到首页</a></li>
                <li><a href="javascript:;" id="contactMe" onclick="boomIn()" >联系我</a></li>
            </ul>
            <div id="overlay" class="hide"></div>
            <div id="contactContent" class="hide">
                <p><span>姓名：</span>李梦仪</p>
                <p><span>性别：</span>女</p>
                <p><span>手机：</span>13424049855</p>
                <p><span>邮箱：</span>mone_lee@163.com</p>
                <p><span>自我介绍：</span>华南农业大学软件工程专业本科生在读。。。。。。。。</p>
                <input type="button" value="关闭" id="closeButton" onclick="boomOut()" />
            </div>
        </div>
		
