<%- include contentHeader %>
	</div>
  	<div class="content">
	  	<div class="newContent">
	  		<form method="post">
				<div>
					<span>标题：</span><input type="text" name="title" />
				</div>
				<div>
					<span>标签：</span><input type="text" name="tag1"/><input type="text" name="tag2"/><input type="text" name="tag3"/><br/>
				</div>
				正文:<br/>
				<textarea name="post" rows="20" cols="100"></textarea>
				<input type="submit" value="发表"/>
			</form>
	  	</div>
  	</div>
<%- include footer %>