<%- include header %>
	<form method='post' action='/upload' enctype='multipart/form-data'>
		<input type="file" multiple name="field1" /><br/>
		<input type="submit" />
		
	</form>
	<% if(success){ %>
		<div><%= success %></div>
	<% } %>
	<% if (error) { %>
	  	<div><%= error %> </div>
	<% } %>
<%- include footer %>